<!DOCTYPE html>
<html>
    <head>
        <title>Education</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="project of fullstack web development">
        <meta name="keywords" content="James, Kenya, Kipngetich">
        <meta name="author" content="Kipngetich James">
        <meta name="robots" content="index, follow">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/0bd7229511.js"></script>
        <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
        <link rel="stylesheet" href="/static/css/educationstyles.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row mainrow">
                <section class="icon-section">
                    <div class="icon-social">
                        <a href="#" style="background-color: #4267b2;">
                            <i class="lab la-facebook-f"></i>
                        </a>
                        <a href="#" style="background-color: #1DA1F2;">
                            <i class="lab la-twitter"></i>
                        </a>
                        <a href="#" style="background-color: #FF0000;">
                            <i class="lab la-youtube"></i>
                        </a>
                    </div>
                </section>
                <div class="col-sm-4 r1col1">
                    <p class="name"><span class="first_letter">J</span>ames</p>
                    <p>
                        <ul>
                            <li>
                                <a href="/">
                                    <i class="fa fa-home" aria-hidden="true"></i>Home
                                </a>
                            </li>
                            
                            <li>
                                <a href="/about">
                                    <i class="fa fa-user" aria-hidden="true"></i>About
                                </a>
                            </li>
                            <li>
                                <a href="/education" class="active">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>Education
                                </a>
                            </li>
                            <li>
                                <a href="/services">
                                    <i class="fa fa-bars" aria-hidden="true"></i>Services
                                </a>
                            </li>
                            <li>
                                <a href="/contact_me">
                                    <i class="fa fa-commenting" aria-hidden="true"></i>Contact me
                                </a>
                        </ul>
                    </p>
                </div>
                <div class="col-sm-8 r1col2">
                    <div class="row col2r1">
                        <div class="col-sm-12">
                            <a>
                                <button type="button" class="btn btn-danger" style="float: right;">
                                    <i class="fa fa-user" aria-hidden="true"></i>Admin
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row col2r2">
                        <div class="col-sm-12">
                            <h5 style="font-size: 45px; border-bottom: 5px solid red; width: 200px;">Education</h5>
                            <p style="font-size: 45px; border-bottom: 2px solid red; width: 100px;"></p>
                        </div>
                    </div>
                    <div class="row col2r3">
                        <div class="col-sm-4">
                            <div class="card">
                            <div class="card-body">
                                <h5 class="heads">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>2008-2019
                                </h5>
                                <P class="heads">KENYA CERTIFICATE OF PRIMARY EDUCATION</P>
                                <p>School:Quinet Primary School<br>Co-curricuum activity:Football and Athletics<br>Club:Science club<br>Well Disciplined and industrious<br>KCPE: 388(B+)</p>
                                
                            </div></div>
                            
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="heads">
                                        <i class="fa fa-calendar"></i>2020-2023
                                    </h5>
                                    <p class="heads"> KENYA CERTIFICATE OF SECONDARY EDUCATION</p>
                                    <P>School:Lenana School<br>Co-curriculum activity:Athletics, Rugby, Cricket<br>Club:IT club, Research Club<br>Well Disciplined and industrious<br>KCSE:A-</P>                                
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="heads">
                                        <i class="fa fa-calendar"></i>2024-
                                    </h5>
                                    <p class="heads">TERTIERY <br>EDUCATION</p>
                                    <P>School:Lenana School<br>Co-curriculum activity:Athletics, Rugby, Cricket<br>Club:IT club, Research Club<br>Well Disciplined and industrious<br>KCSE:A-</P>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </body>
</html>